<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Untitled Document</title>
</head>
<body>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  	<td align="center" valign="top" style="background-color: #fff"
 			bgcolor="#fff">
  		<table width="600" border="0" cellspacing="0" cellpadding="0">
  			<td width="0" align="center" valign="top" bgcolor="#000000"
 					style="background-color:#000000;">
				</td>
  			<td align="center" valign="top" bgcolor="#000000"
 					style="background-color:#000; color:#7b7b7b; font-family:Arial,
 					Helvetica, sans-serif; font-size:20px;">
					<br>
  				<table width="100%" border="0" cellspacing="0" cellpadding="0">     
    				<div style="color:#fff; font-family:Arial, Helvetica, sans-serif;
 							font-size:22px;">
      				Welcome to the online interactive record board.
    				</div>
    				<br>               
    				<tr> 
      				<td align="center" valign="left">
								<%= image_tag( 'header.jpg', alt: '', width: '600', 
									height: "139" ) %>
							</td>
    				</tr>
  				</table>  
  				<br>   
  				<div style="color:#fff; font-family:Arial, Helvetica, sans-serif;
 						font-size:22px;">
    				Creating a feat is easy. &nbsp;Let's get started!
  				</div>
  				<br>
  				<table width="100%" border="0" cellspacing="0" cellpadding="0">
    				<tr>
      				<td align="center" valign="middle">
								<%= image_tag( 'line.jpg', alt: '', width: '561', 
									height: '5' ) %>
							</td>
    				</tr>
  				</table>
  				<br>
  				<div style="color:#fff; font-family:Arial, Helvetica, sans-serif;
 						font-size:16px;">
    				STEP 1.&nbsp; RECORD THE FEAT LOCATION<br><br>
						Big Buns Gourmet Grill<br>4401 Wilson Blvd. Arlington, Va
						<br>
    				<br>
    				<br>
    				STEP 2.&nbsp; NAME THE FEAT & ADD RULES<br><br>"Fastest to eat a 
						Big Buns
 						burger"
						<br>
						Burger, bun, lettuce, tomato and pickle.
						<br>
						Use of water is allowed.
						<br>
    				<br>
    				<br>
    				STEP 3.&nbsp; UPLOAD A VIDEO OR PICTURE
						<br>  
    				<br>
    				<br>
    				STEP 4. &nbsp; CHALLENGE YOUR FRIENDS  
  				</div>
  				<br>
  				<table width="99%" border="0" cellspacing="0" cellpadding="0">
    				<tr>
      				<td align="center" valign="middle">
								<%= image_tag( 'line.jpg', alt: '', width: '560', 
									height: '5' ) %>
							</td>
    				</tr>
    				<tr>
      				<td align="center" valign="middle">
								<br>
								<a href="http://www.featswithfriends.com/attempts/35"><%= 
								 	image_tag( 'rad.jpg', width: '530', height: '336', 
										style: 'display:block;' ) %></a>
								<br>
							</td>
    				</tr>
    				<tr>
      				<td align="center" valign="middle">
								<%= image_tag( 'line.jpg', alt: '', width: '561', 
									height: '5' ) %>
							</td>
    				</tr>
  				</table>
  				<br>
  				<div style="color:#fff; font-family:Arial, Helvetica, sans-serif;
 						font-size:22px;">
    				Make History. Claim Glory.  Become A Champion.
  				</div>
  				<br>
  				<div style="color:#7b7b7b; font-family:Arial, Helvetica, sans-serif;
 						font-size:14px;">
    				<a href="https://twitter.com/featsof">@FeatsOf</a> &nbsp;|&nbsp; 
						<a href="http://facebook.com/FeatsWithFriends">Feats on Facebook</a>
						&nbsp;|&nbsp; 
						<a href="mailto:feedback@featswithfriends.com">feedback@featswithfriends.com</a>
  				</div>
  				<br>
  				<br>
				</td>
			</table>
		</td>
	</table>
</body>
</html>
