<%= render 'shared/map_script', {obj_list: @feats} %>
<div class="background-unit">
  <div class="container">
    <div class="row-fluid">
      <div class="span5">
			  <div class="craig-unit">
				  <h2>
		  	    <%= link_to(( image_tag @user.image ), @user ) %>&nbsp;
		  	    <%= link_to "#{@user.username}", @user %> has created the following feats:
					</h2>
					<hr>
					<% unless @feats.empty? %>
						<% @feats.each do |f| %>
							<h2>
								<strong><%= link_to "#{f.name}", feat_path( f.id ) %></strong> at
								<%= link_to "#{f.location.name}", location_path( f.location.id )%>
							</h2>
							<% if f != @feats.last %>
								<div class="hr3"></div>
							<% end %>
						<% end %>
					<% else %>
						<% if @user.id  == session[ :user_id ] %>
							<h2>You have no feats. 
								<%= link_to "Create one", new_feat_path %>?</h2>
						<% else %>
							<h2><%= link_to "#{@user.username}", @user %> has no feats.</h2>
						<% end %>
					<% end %>
		  	</div>
	    </div>
      <div class="span7 map-well">
	      <div id="map_canvas"></div>
	    </div>
	  </div>
  </div>
</div>

