<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&sensor=false">
</script>
<script type="text/javascript">
	var gMap;
	var gMarkers = [ ];
	
	$(function () {
		var lat_lng_bounds = new google.maps.LatLngBounds();
		var zoom = 14;
		var title = "";
		
		<% if @feats.empty? %>
			<% if request.location.latitude == 0 && 
				    request.location.longitude == 0 %>
				var lat_lng = new google.maps.LatLng(37.09024, -95.712891);
				zoom    = 4;
			<% else %>	
				var lat_lng = new google.maps.LatLng(<%=request.location.latitude%>,
												<%=request.location.longitude%>);
			<% end %>
		<% else %>
			var lat_lng = new google.maps.LatLng(<%=@feats.first.location.latitude%>,
			 							<%=@feats.first.location.longitude%>);
		<% end %>
		
	  var mapOptions = {
	    center: lat_lng,
	    zoom: zoom,
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  };
	
	  gMap = new google.maps.Map(document.getElementById("map_canvas"),
	          mapOptions);
	
		<% if @feats.any? %>
			<% @feats.each do |f| %>
				lat_lng = new google.maps.LatLng(<%=f.location.latitude%>,
					 							<%=f.location.longitude%>);
				var marker = new google.maps.Marker({
					position: lat_lng,
					title: "<%=f.name%>",
				});

				marker.setMap(gMap);
	 			gMarkers.push(marker);
				lat_lng_bounds.extend(lat_lng);
			<% end %>
			gMap.fitBounds(lat_lng_bounds);		
		<% else %>
			var marker = new google.maps.Marker({
				position: lat_lng,
				title: title
			});

			marker.setMap(gMap);
		<% end %>		
	});
	
	function selection_changed( select_obj ) {
		var idx = select_obj.selectedIndex;
		gMap.panTo(gMarkers[idx].position);		
	}
</script>
<div class="row">
  <div class="span4">
		<div class="craig-unit">
			<div class="scott-unit">
        <h3>
					You have created the following feats:
				</h3>
        <br>
        <%= form_tag feats_path, action: 'show', method: 'get' do %>
          <fieldset>
						<%= select_tag("id",
						 	options_from_collection_for_select(@feats, :id, :name),
							onchange: "selection_changed(this)", multiple: 'true')%>
						<br>
           	<%= submit_tag 'View Feat', name: nil,
							class: "btn btn-small btn-primary" %>
         	</fieldset>
        <% end %>
				<br>
				<br>
		  </div>
	  </div>
  </div>
	<div id="map_canvas" class="span8"></div>
</div>
<br>
<br>
