<%= render 'shared/single_loc_map_script' %>
<div class="container">
  <div class="row">
    <div class="span5">
      <div class="craig-unit">
        <div class="scott-unit">
          <h1>Create a new feat</h1>
					<br>
		      <h2>
						<%= @location.name %><br>
		        <%= @location.address %><br>
		      </h2>
					<h4><%= link_to "Change Location", locate_locations_path %></h4>
          <br>
          <%= form_for @feat do |f| %>
            <%= render 'shared/error_messages', target: @feat %>
            <fieldset>
              <%= f.label :name %>
              <%= f.text_field :name %>
              <%= f.label :description %>
              <%= f.text_area :description, rows: 4 %>
	            <%= f.label :scoring %>
              <%= f.select :low_score_wins, 
            		[['Highest score wins', 0], ['Lowest score wins', 1]] %>
              <br>
              <br>
	            <%= f.submit "Create Feat", 
	              class: "btn btn-large btn-primary" %>
	          </fieldset>
          <% end %>
        </div>
      </div>
    </div>
		<div id="map_canvas" class="span7"></div>
  </div>
</div>
<br>
<br>

