<%= render 'shared/map_script', { obj_list: @feats } %>
<div class="background-unit">
  <div class="container">
   	<div class="row-fluid">
      <div class="span5">
      	<div class="craig-unit">
			  	<h2>
				  	<i class="icon-map-marker"></i>
	        	<strong><%= @location.name %></strong><br>
          	<%= @location.address %><br>
						<br>
						<% if params[ :action ] == 'new' %>
	        		<%= link_to "Change Location", locate_locations_path %>
						<% end %>
					</h2>  
				</div>
				<div class="craig-unit">
	      	<h2><strong>Feat name and description/rules.</strong></h2>
					<center><div class="hr1"></div></center>					
					<% if params[ :action ] == 'new' %>
   					<%= render 'new_feat_form' %>
					<% else %>
 						<%= render 'edit_feat_form' %>
					<% end %>
        </div>
	  	</div>
      <div class="span7">
       	<div class="map-well"> 
         	<div id="map_canvas"></div>
        </div>
     	</div>
   	</div>
  </div>
</div>
