<%= render 'shared/map_script', {obj_list: @feats} %>
  <div class="background-unit">
    <div class="container">
	    <div class="row-fluid">
        <div class="span4">
		      <div class="craig-unit">
					  <h2>
						  <i class="icon-map-marker"></i>
			        <strong><%= @location.name %></strong><br>
		          <%= @location.address %><br>
							<br>
			        <%= link_to "Change Location", locate_locations_path %>
						</h2>  
					</div>
					<div class="craig-unit">
			      <h2><strong>Name the feat and describe it.</strong></h2>
						<center><div class="hr1"></div></center>
            <%= form_for @feat do |f| %>
            <%= render 'shared/error_messages', target: @feat %>
			        <fieldset>
                <%= f.label "Feat name" %>
                <%= f.text_field :name, class: "field span12" %>
		  			    <br>
                <%= f.label "Feat description" %>
                <%= f.text_area :description, rows: 4, class: "field span12" %>
						    <br>
						    <br>
			          <%= f.label "Is the Feat timed or scored?"%>
		            <%= f.radio_button :timed, 1 %>
		            <%= f.label :timed, style: "display:inline;" %>
		            <br>
		            <%= f.radio_button :timed, 0, checked: true %>
		            <%= f.label :timed, "Scored", style: "display:inline;" %>
		            <br>
		            <br>
			          <%= f.label "How is the winner determined?"%>
			          <%= f.radio_button :low_score_wins, 1 %>
			          <%= f.label "Low score/time wins", style: "display:inline;" %>
			          <br>
			          <%= f.radio_button :low_score_wins, 0, checked: true %>
		            <%= f.label "High score/time wins", style: "display:inline;" %>
                <br>
                <br>
	              <%= f.submit "Create Feat", class: "btn btn-small btn-primary" %>
			        </fieldset>
            <% end %>
          </div>
			  </div>
     
		 
        <div class="span8">
	        <div class="map-well"> 
	          <div id="map_canvas"></div>
          </div>
	      </div>
	    </div>
    </div>
  </div>
