<%= render 'shared/map_script', {obj_list: @feats} %>
<div class="background-unit">
  <div class="container">
		<div class="row-fluid">
    	<div class="span4">
				<div class="craig-unit">
          <%= form_tag search_feats_path, method: 'get' do %>
            <fieldset>
        			<h2><strong>Search for feats within &nbsp;
							<%= text_field_tag :distance, params[:distance], class: "span3" %> &nbsp;
	    				miles of</strong></h2>
						
           		<%= text_field_tag :address, params[:address], maxlength: 255, class: "span12" %>
							<br>
           		<%= submit_tag 'Search', name: nil, 
								class: "btn btn-small btn-primary" %>
         		</fieldset>
          <% end %>
				</div>
	    	<% if @feats.any? %>
					<div class="craig-unit">
					  <h2><strong>The following feats exist in this area.</strong></h2>
						<div class="hr1"></div>
	        	<% @feats.each do |f| %>
							<h2><%= link_to "#{f.name}", feat_path(f.id) %></h2>
		    		<% end %>
					</div>
	    	<% end %>
      </div>
	  	<div class="span8">
	    	<div class="map-well">  
          <div id="map_canvas"></div>
        </div>
      </div> 
		</div>
    <br>
    <br>
  </div>
</div>

