<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&sensor=false">
</script>
<script type="text/javascript">
	var gMap;
	var gMarkers = [ ];
	
	$(function () {
		var lat_lng_bounds = new google.maps.LatLngBounds();
		var zoom = 15;
		var title = "";
		
		<% if @feats.empty? %>
			<% if !@latitude.nil? && !@longitude.nil? %>
				var lat_lng = new google.maps.LatLng(<%=@latitude%>, <%=@longitude%>);
				zoom = 15;
				title = "<%=params[:address]%>";
			<% elsif request.location.latitude == 0 && 
				    request.location.longitude == 0 %>
				var lat_lng = new google.maps.LatLng(37.09024, -95.712891);
				zoom    = 4;
			<% else %>	
				var lat_lng = new google.maps.LatLng(<%=request.location.latitude%>,
												<%=request.location.longitude%>);
			<% end %>
		<% else %>
			var lat_lng = 
				new google.maps.LatLng(<%=@feats.first.location.latitude%>,
			 				<%=@feats.first.location.longitude%>);
		<% end %>
		
	  var mapOptions = {
	    center: lat_lng,
	    zoom: zoom,
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  };
	
	  gMap = new google.maps.Map(document.getElementById("map_canvas"),
	          mapOptions);
	
		<% if @feats.any? %>
			<% @feats.each do |f| %>
				lat_lng = new google.maps.LatLng(<%=f.location.latitude%>,
					 							<%=f.location.longitude%>);
				var marker = new google.maps.Marker({
					position: lat_lng,
					title: "<%=f.name%>",
				});

				marker.setMap(gMap);
	 			gMarkers.push(marker);
				lat_lng_bounds.extend(lat_lng);
			<% end %>
			gMap.fitBounds(lat_lng_bounds);		
		<% else %>
			var marker = new google.maps.Marker({
				position: lat_lng,
				title: title
			});

			marker.setMap(gMap);
		<% end %>
		
	});
	
	function selection_changed( select_obj ) {
		var idx = select_obj.selectedIndex;
		gMap.panTo(gMarkers[idx].position);		
	}
</script>
<div class="row">
  <div class="span4">
		<div class="craig-unit">
			<div class="scott-unit">
        <%= form_tag search_feats_path, method: 'get' do %>
          <fieldset>
						<h3>Search for feats within</h3>
						<br>
						<%= text_field_tag :distance, params[:distance] %>
						<br>
						miles of
						<br>
           	<%= text_field_tag :address, params[:address], maxlength: 255 %>
						<br>
           	<%= submit_tag 'Search', name: nil, 
							class: "btn btn-small btn-primary" %>
         	</fieldset>
        <% end %>
				<br>
				<br>
		  </div>
	  </div>
	<% if @feats.any? %>
		<div class="craig-unit">
			<div class="scott-unit">
				<% @feats.each do |f| %>
					<%= link_to "#{f.name}", feat_path(f.id) %><br>
				<% end %>
			</div>
		</div>
	<% end %>
  </div>
	<div id="map_canvas" class="span8"></div>
</div>
<br>
<br>
