<%= render 'shared/map_script', { obj_list: @feats } %>
<div class="background-unit">
  <div class="container">
		<div class="row-fluid">
    	<div class="span5">
				<div class="craig-unit">
          <%= form_tag search_feats_path, method: 'get' do %>
            <fieldset>
        			<h2>
								Search for existing feats within &nbsp;
								<%= text_field_tag :distance, params[:distance], class: "span5", placeholder: '1.5' %>
							 	&nbsp; miles of</strong>
							</h2>
           		<%= text_field_tag :address, params[:address], maxlength: 255, class: "span12", 
 								placeholder: 'Address'%>
							<br>
           		<%= submit_tag 'Search', name: nil, 
								class: "btn btn-small btn-primary" %>
         		</fieldset>
          <% end %>
				</div>
	    	<% if @feats.any? %>
					<div class="craig-unit">
					  <h2><strong>Existing Feats</strong></h2>
						<div class="hr1"></div>
	        	<% @feats.each do |f| %>
							<h2>
								<strong><%= link_to "#{f.name}", feat_path( f.id ) %></strong> at
								<%= link_to "#{f.location.name}", location_path( f.location.id )%>
							</h2>
							<% if f != @feats.last %>
								<div class="hr3"></div>
							<% end %>
		    		<% end %>
					</div>
	    	<% end %>
      </div>
	  	<div class="span7">
	    	<div class="map-well">  
          <div id="map_canvas"></div>
        </div>
      </div> 
		</div>
    <br>
    <br>
  </div>
</div>

