<%= render 'shared/map_script', {obj_list: [@feat]} %>
<div class="background-unit">
  <div class="container">
	  <div class="row-fluid">
      <div class="span5">
		    <div class="craig-unit">
		      <%= render 'layouts/feat_info' %>
				</div>
				<div class="craig-unit">
	        <% if @attempts.empty? %>
						<div class="row-fluid">
							<div class="span12">
		      			<h2><strong>This feat doesn't have an attempt yet.<br> Would
			 						you like to record one?</strong></h2>
							</div>
						</div>
		      <% else %>
						<div class="row-fluid">
							<div class="span12">
	        			<h2><strong>Feat Attempts</strong></h2>
					  		<div class="hr1"></div>
							</div>
						</div>
	          <ol>
							<% @attempts.each do |a| %>
								<div class="row-fluid">
									<div class="span12">
								  	<li>
									  	<h2>
                  			<% if @feat.timed %>
	                    		<%= link_to "#{ a.user.username}", 
														user_path( a.user.id)%> - <%= a.score.to_hhmmss %>
	                  		<% else %>
	                    		<%= link_to "#{a.user.username}",
	 													user_path(a.user.id)%> - <%= a.score.to_s %>
	                  		<% end %>
												&nbsp;
											  <%= link_to '<i class="icon-eye-open"></i>'.html_safe,
											 		attempt_path(a.id), title: 'View Attempt' %>
	                  	  <% if a.user.id == session[:user_id] %>
	               				  <% @attempt_exists = true %> | 
													<%= link_to '<i class="icon-edit"></i>'.html_safe,
	 													edit_attempt_path(a.id), title: 'Edit Attempt' %> |
	                 			  <%= link_to '<i class="icon-remove"></i>'.html_safe,
	 													attempt_path(a.id), 
														confirm: 'Are you sure you want to delete this attempt?', method: 'delete',
														title: 'Delete Attempt' %>
	                 		  <% end %>
										  </h2>
										</li>
									</div>
								</div>
	            <% end %>
	        	</ol>
		      <% end %>
		      <% unless @attempt_exists %>
			      <h2><%= link_to "Record Attempt", new_attempt_path %></h2>
		      <% end %>
		    </div>
      </div>
	    <div class="span7 map-well">
	      <div id="map_canvas"></div>
	    </div>
	  </div>
  </div>
</div>

	
