<%= render 'shared/map_script', {obj_list: [@feat]} %>
<div class="background-unit">
  <div class="container">
	  <div class="row-fluid">
      <div class="span4">
		    <div class="craig-unit">
				  <div class="row-fluid">
					  <div class="span12">
		          <%= render 'layouts/feat_info' %>
						</div>
					</div>
				</div>
				<div class="craig-unit">
	        <% if @attempts.empty? %>
						<div class="row-fluid">
							<div class="span12">
		      			<h2><strong>This feat doesn't have an attempt yet.<br> Would you
			 							like to record one?</strong></h2>
							</div>
						</div>
		      <% else %>
						<div class="row-fluid">
							<div class="span12">
	        			<h2><strong>Feat Attempts</strong></h2>
					  		<div class="hr1"></div>
							</div>
						</div>
	          <ol>
							<% @attempts.each do |a| %>
								<div class="row-fluid">
									<div class="span7">
								  	<li>
									  	<h2>
                  			<% if @feat.timed %>
	                    		<%= link_to "#{ a.user.username}", 
														user_path( a.user.id)%> - <%= a.score.to_hhmmss %>
	                  		<% else %>
	                    		<%= link_to "#{a.user.username}",
	 													user_path(a.user.id)%> - <%= a.score.to_s %>
	                  		<% end %>
											</h2>
	                	</li>
									</div>
									<div class="span5">
								  	<h1>
											<%= link_to "View", attempt_path(a.id) %>
	                  	<% if a.user.id == session[:user_id] %>
	               				<% @attempt_exists = true %>
	                 			| <%= link_to "Update", edit_attempt_path(a.id) %> |
	                 			<%= link_to "Delete", attempt_path(a.id), 
													confirm: 'Delete this attempt?', method: 'delete' %>
	                 		<% end %>
										</h1>
									</div>
								</div>
	            <% end %>
	        	</ol>
		      <% end %>
		      <% unless @attempt_exists %>
			      <h2><%= link_to "Record Attempt", new_attempt_path %></h2>
		      <% end %>
		    </div>
      </div>
	    <div class="span8">
	      <div class="map-well"> 
	        <div id="map_canvas"></div>
        </div>
	    </div>
	  </div>
  </div>
</div>

	
