<div class="row">
  <div class="span9">
  <br>
  <br>
  <br>
  <br>
    <div class="well">
    <h2>Create and set records all over the world</h2>
    <br>
    <h2>Compete with friends and foes in incredible feats of _____</h2>
   </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <ul class="span3">
      <div class="well">
      <h3>New to feats of? &nbsp;Sign up</h3>
      <br>
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <br>
        <br>
        <%= f.submit "Sign Up", class: "btn btn-large btn-info" %>
      <% end %>
      </div>
    </ul>
  </div>
</div>
