<div class="background-unit">
	<div class="container">
		<div class="row">
	  	<div class="span9">
	  		<br>
	  		<br>
	  		<br>
	  		<br>
	    	<div class="home-unit">
	    		<h1>Create and set records all over the world</h1>
	    		<br>
	    		<h1>Compete with friends and foes in incredible feats of _____</h1>
	   		</div>
	  	</div>
		</div>
	  <div class="row">
	    <ul class="span3">
	      <div class="home-unit">
		      <h1>Sign up and start competing!</h1>
	        <br>
	        <%= form_for(@user) do |f| %>
	          <%= render 'shared/error_messages', target: @user %>
	          <h3><%= f.label :email %></h3>
	          <%= f.text_field :email %>
	          <br>
	          <%= f.submit "Sign Up", class: "btn btn-large btn-primary" %>
	        <% end %>
	      </div>
	    </ul>
	  </div>
	</div>
</div>
