<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="single_signup.html"><img alt="Feats of" src="assets/img/featsof.png" style="height:38px"></a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="howitworks.html">How It Works</a></li>
          <li><a href="signin.html">Terms of Service</a></li>
        </ul>
      </div>
          <div class="nav-collapse pull-right">
            <ul class="nav">
              <li><a href="signin.html">Already a member? &nbsp;Sign In</a></li>
            </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span9">
    <br>
    <br>
    <br>
    <br>
      <div class="well">
      <h2>Create and set records all over the world</h2>
      <br>
      <h2>Compete with friends and foes in incredible feats of _____</h2>
     </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <ul class="span3">
      <div class="well">
      <h3>New to feats of? &nbsp;Sign up</h3>
      <br>
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <br>
        <br>
        <%= f.submit "Sign Up", class: "btn btn-large btn-info" %>
      <% end %>
      <a href="signin.html">Already a member? Sign in here.</a>
      </div>
    </ul>
  </div>
</div>
