<div class="row">
	<div class="span2"  align="right"><h2>Feat:</h2></div>
	<div class="span2"><%= @feat.name %></div>
</div>
<div class="row">
	<div class="span2"  align="right"><h2>Created by:</h2></div>
	<div class="span2"><%= @feat.user.username %></div>
</div>
<div class="row">
	<div class="span2" align="right"><h2>Location:</h2></div>
	<div class="span2">
		<%= @feat.location.name %><br>
		<%= @feat.location.address %>
	</div>
</div>
<div class="row">
	<div class="span2" align="right"><h2>Description:</h2></div>
	<div class="span2"><%= @feat.description %></div>
</div>
<div class="row">
	<div class="span2" align="right"><h2>Scoring:</h2></div>
	<div class="span2">
		<% if @feat.low_score_wins %>						
			Low score wins.
		<% else %>
			High score wins.
		<% end %>
	</div>
</div>
