<%= render 'shared/map_script', {obj_list: @attempts} %>
<div class="background-unit">
  <div class="container">
	  <div class="row-fluid">
      <div class="span5">
			  <div class="craig-unit">
				  <h2>
		  	    <%= link_to(( image_tag @user.image ), @user ) %>
		  	    <%= link_to "#{@user.username}", @user %> has attempted the following feats:
					</h2>
					<hr>
					<% unless @attempts.empty? %>
						<% @attempts.each do |a| %>
							<h2>
								<strong><%= link_to a.feat.name, feat_path( a.feat.id ) %></strong> at
								<%= link_to "#{a.feat.location.name}", location_path( a.feat.location )%>
							</h2>
							<% if a != @attempts.last %>
								<div class="hr2"></div>
							<% end %>
						<% end %>
					<% else %>
						<% if @user.id  == session[ :user_id ] %>
							<h2>You have no feat attempts. 
								<%= link_to "Search for feats", search_feats_path %> to
									attempt?</h2>
						<% else %>
							<h2><%= link_to "#{@user.username}", @user %> has not attempted
								any feats.</h2>
						<% end %>
					<% end %>
	      </div>
			</div>
	    <div class="span7">
	      <div class="map-well"> 
	        <div id="map_canvas"></div>
        </div>
	    </div>
	  </div>
  </div>
</div>
