<%= render 'shared/single_loc_map_script' %>
<div class="container">
  <div class="row">
    <div class="span5">
      <div class="scott-unit">
				<%= render 'layouts/feat_info' %>
				<br>
	      <br>
				<div class="row">
					<% if @feat.timed %>
						<div class="span2" align="right">
							<strong><%= @attempt.user.username.possessive %> time:</strong>
						</div>
						<div class="span2">
							<%= @attempt.score.to_hhmmss %>
						</div>
					<% else %>
						<div class="span2" align="right">
							<strong><%= @attempt.user.username.possessive %> score:</strong>
						</div>
						<div class="span2">
							<%= @attempt.score.to_s %>
						</div>
					<% end %>
				</div>
				<% unless @attempt.image.blank? %>
					<br>
					<div class="row">
						<div class="span5">
							<%= image_tag @attempt.image_url.to_s %>
						</div>
					</div>
				<% end %>			
			</div>
    </div>
		<div id="map_canvas" class="span7"></div>
  </div>
</div>
<br>
<br>
