<%= render 'shared/map_script', {obj_list: [@attempt]} %>
<div class="background-unit">
  <div class="container">
	  <div class="row">
      <div class="span4">
		  	<div class="craig-unit">
		      <%= render 'layouts/feat_info' %>
			  </div>
				<div class="craig-unit">
				  <%= render 'layouts/attempt_info' %>
				    <br>
				    <% if @attempt.user.id == session[:user_id] %>
						<br>					
            <h2><%= link_to "Delete Attempt", attempt_path(@attempt.id), confirm: 'Delete this attempt?', method: 'delete' %></h2>
				    <% elsif @attempt.validations.where(user_id: session[:user_id]).first.nil? %>
  		      <%= link_to "Validate this attempt", new_validation_path %>
					<% end %>
		  	</div>
			</div>
	    <div class="span8">
	      <div class="map-well"> 
	        <div id="map_canvas"></div>
        </div>
	    </div>
	  </div>
  </div>
</div>