<%= render 'shared/map_script', { obj_list: [ @attempt ]} %>
<div class="background-unit">
  <div class="container">
	  <div class="row-fluid">
      <div class="span4">
		  	<div class="craig-unit">
		      <%= render 'layouts/feat_info' %>
			  </div>
				<div class="craig-unit">
				  <%= render 'layouts/attempt_info' %>
				  <br>
				  <% if @attempt.user.id == session[:user_id] %>
            <h2>
							<%= link_to '<i class="icon-remove"></i>'.html_safe, 
								attempt_path( @attempt ), confirm: 'Delete this attempt?', method: 'delete',
								title: 'Delete attempt.' %>
						</h2>
				  <% elsif @validations.where( user_id: session[ :user_id ]).first.nil? %>
  		      <h2>
							<%= link_to "Validate or rebut", new_validation_path %> this attempt.
						</h2>
					<% end %>
		  	</div>
			</div>
	    <div class="span8">
	      <div class="map-well"> 
	        <div id="map_canvas"></div>
        </div>
	    </div>
	  </div>
  </div>
</div>