<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBk3LMS2I-w-KWmm2YEnPdqPu4EVULGfdE&sensor=false">
</script>
<script type="text/javascript">
	var gMap;
	$(function () {
		var lat_lng = new google.maps.LatLng(<%=session[:latitude]%>,
			 							<%=session[:longitude]%>);
	  var mapOptions = {
	    center: lat_lng,
	    zoom: 15,
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  };
	  gMap = new google.maps.Map(document.getElementById("map_canvas"),
	          mapOptions);
		var marker = new google.maps.Marker({
			position: lat_lng,
			title: "<%=session[:address]%>"
		});
	
		marker.setMap(gMap);
	});
</script>

  <div class="background-unit">
    <div class="container">
	  <div class="row-fluid">
        <div class="span3">
		  <div class="craig-unit">
	        <h1>The following places exist at:</h1>
			<br>
			<%= "#{session[:address]}" %>:
			<br>
            <br>
            <%= form_tag new_feat_path, method: 'get' do %>
            <fieldset>
			<%= select_tag(:location_id,
			options_from_collection_for_select(@locations, :id, :name),
   			multiple: 'true')%>
			<br>
			<h1>Would you like to:</h2>
			<br>
           	<center><%= submit_tag 'Use one of the above places', name: nil,
			class: "btn btn-small btn-primary" %></center>
         	</fieldset>
            <% end %>
			<br>
			<center><h1>or</h1></center>
			<br>
			<center><%= button_to 'Create a new place', { action: 'new' }, 
			{ method: 'get', class: 'btn btn-small btn-primary' }%></center>
		  </div>
	    </div>
		
        <div class="span9">
	      <div class="map-well"> 
	        <div id="map_canvas"></div>
          </div>
	    </div>
	  </div>
    </div>
  </div>