<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBk3LMS2I-w-KWmm2YEnPdqPu4EVULGfdE&sensor=false">
</script>
<script type="text/javascript">
	var gMap;
	$(function () {
		var lat_lng = new google.maps.LatLng(<%=session[:latitude]%>,
			 							<%=session[:longitude]%>);
	  var mapOptions = {
	    center: lat_lng,
	    zoom: 15,
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  };
	  gMap = new google.maps.Map(document.getElementById("map_canvas"),
	          mapOptions);
		var marker = new google.maps.Marker({
			position: lat_lng,
			title: "<%=session[:address]%>"
		});
	
		marker.setMap(gMap);
	});
</script>
<div class="row">
  <div class="span4">
		<div class="craig-unit">
			<div class="scott-unit">
        <h3>
					The following locations exist at
				</h3>
				<br>
				<%= "#{session[:address]}" %>:
				<br>
        <br>
        <%= form_tag new_feat_path, method: 'get' do %>
          <fieldset>
						<%= select_tag(:location_id,
						 	options_from_collection_for_select(@locations, :id, :name),
							multiple: 'true')%>
						<br>
           	<%= submit_tag 'Use this location', 
							class: "btn btn-small btn-primary" %>
         	</fieldset>
        <% end %>
				<br>
				<h3>OR</h3>
				<br>
				<br>
				<%= button_to 'Create new location', { action: 'new' }, 
					{ method: 'get', class: 'btn btn-small btn-primary' }%>
		  </div>
	  </div>
  </div>
	<div id="map_canvas" class="span8"></div>
</div>
<br>
<br>
