<div class="container">
  <div class="row">
    <div class="span12">
      <div class="craig-unit">
        <div class="scott-unit">
          <h1>Enter feat location address:</h1>
          <br>
          <%= form_for @location, method: 'get' do |f| %>
	          <%= render 'shared/error_messages', target: @location %>
            <fieldset>
	            <%= f.label :street %>
              <%= f.text_field :street, maxlength: 255 %>
	            <%= f.label :city %>
              <%= f.text_field :city, maxlength: 100 %>
	            <%= f.label :state %>
              <%= f.text_field :state, maxlength: 2 %>
	            <%= f.label :zipcode %>
              <%= f.text_field :zipcode, maxlength: 5 %>
              <br>
              <br>
	            <%= f.submit 'Submit', class: "btn btn-large btn-primary" %>
	          </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

