<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBk3LMS2I-w-KWmm2YEnPdqPu4EVULGfdE&sensor=false">
</script>
<script type="text/javascript">
	var gMap;
	$(function () {
		<% if session[:address].nil? %>
			<% if request.location.latitude == 0 && 
				    request.location.longitude == 0 %>
				var lat_lng = new google.maps.LatLng(37.09024, -95.712891);
				var zoom    = 4;
			<% else %>	
				var lat_lng = new google.maps.LatLng(<%=request.location.latitude%>,
												<%=request.location.longitude%>);
				var zoom    = 15;
			<% end %>
			var title = "";
		<% else %>
			var lat_lng = new google.maps.LatLng(<%=@location.latitude%>,
			 							<%=@location.longitude%>);
			var zoom    = 15;
			var title = "<%=@location.name%>";
		<% end %>
		
	  var mapOptions = {
	    center: lat_lng,
	    zoom: zoom,
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  };
	  gMap = new google.maps.Map(document.getElementById("map_canvas"),
	          mapOptions);
		var marker = new google.maps.Marker({
			position: lat_lng,
			title: title
		});
	
		marker.setMap(gMap);
	});
</script>

<div class="background-unit">
  <div class="container">
	  <div class="row-fluid">
    	<div class="span4">
		  	<div class="craig-unit">
        	<h1>Enter an address for the Feat location.</h1>
					<br>
          <%= form_for @location, url: locate_locations_path, 
							method: 'get' do |f| %>
          	<%= render 'shared/error_messages', target: @location %>
            <fieldset>
            	<%= f.label :address %>
            	<%= f.text_field :address, maxlength: 255, class: "span12" %>
							<br>
            	<%= f.submit 'Search', class: "btn btn-small btn-primary" %>
            </fieldset>
          <% end %>
					<% if !session[:address].nil? %>
						<h1>Did you mean:</h1>
						<h2>
							<%= link_to "#{session[:address]}", 
								choose_from_existing_locations_path %>
						</h2>
					<% end %>
		  	</div>
			</div>		
			<div class="span8">
	      <div class="map-well">  
		    	<div id="map_canvas"></div>
	      </div>
      </div>
    </div>
	</div>
</div>