<%= render 'shared/map_script', { obj_list: @feats } %>
<div class="background-unit">
  <div class="container">
	  <div class="row-fluid">
      <div class="span4">
		    <div class="craig-unit">
          <h2><strong>Name the feat location.</strong></h2>
          <%= form_for @location do |f| %>
          <%= render 'shared/error_messages', target: @location %>
            <fieldset>
              <%= f.label "Location Name" %>
              <%= f.text_field :name, maxlength: 255, class: "span12" %>
              <%= f.label :address %>
              <%= f.text_field :address, disabled: 'true', maxlength: 255,
								class: "span12"  %>
              <br>
              <%= f.submit "Name This Location", 
								class: "btn btn-small btn-primary" %>
            </fieldset>
          <% end %>
	      </div>
		  </div>
      <div class="span8">
	      <div class="map-well"> 
	        <div id="map_canvas"></div>
        </div>
	    </div>
	  </div>
  </div>
</div>


