<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBk3LMS2I-w-KWmm2YEnPdqPu4EVULGfdE&sensor=false">
</script>
<script type="text/javascript">
	var gMap;
	$(function () {
		var lat_lng = new google.maps.LatLng(<%=session[:latitude]%>,
			 							<%=session[:longitude]%>);
	  var mapOptions = {
	    center: lat_lng,
	    zoom: 15,
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  };
	  gMap = new google.maps.Map(document.getElementById("map_canvas"),
	          mapOptions);
		var marker = new google.maps.Marker({
			position: lat_lng,
			title: "<%=session[:address]%>"
		});
	
		marker.setMap(gMap);
	});
</script>
<div class="row">
  <div class="span5">
    <div class="craig-unit">
      <div class="scott-unit">
        <h1>Create a new feat location</h1>
        <br>
        <%= form_for @location do |f| %>
          <%= render 'shared/error_messages', target: @location %>
          <fieldset>
            <%= f.label :name %>
            <%= f.text_field :name, maxlength: 255 %>
           	<%= f.label :address %>
            <%= f.text_field :address, disabled: 'true', maxlength: 255 %>
            <br>
            <br>
           <%= f.submit "Create Location", 
             class: "btn btn-large btn-primary" %>
         </fieldset>
        <% end %>
			</div>
		</div>
  </div>
	<div id="map_canvas" class="span7"></div>
</div>
<br>
<br>

