<%= render 'shared/map_script', {obj_list: @feats} %>
<div class="background-unit">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
		  	The following feats exist at:
				<br>
				<br>
				<%= @location.name %>
				<br>
				<%= @location.address %>
			</div>
	  </div>
    <br>
	  <div class="row-fluid">
      <div class="span4">
		  	<div class="craig-unit">
					<% unless @feats.empty? %>
						<% @feats.each do |f| %>
							<h2><%= link_to f.name, feat_path( f.id ) %></h2>
							<% if f != @feats.last %>
								<div class="hr2"></div>
							<% end %>
						<% end %>
					<% else %>
						<h2>There are no feats at this location.  
							<%= link_to "Create one", new_feat_path %>?</h2>
					<% end %>
		  	</div>
	    </div>
      <div class="span8">
	      <div class="map-well"> 
	        <div id="map_canvas"></div>
        </div>
	    </div>
	  </div>
  </div>
</div>
