<% if @feat.timed %>
  <h1><%= link_to "#{@attempt.user.username.possessive}", user_path(@attempt.user.id) %> time:</h1>
  <%= @attempt.score.to_hhmmss %>
  <% else %>
    <h1><%= link_to "#{@attempt.user.username.possessive}", user_path(@attempt.user.id) %> Score:</h1>
    <h2><%= @attempt.score.to_s %> &nbsp;|&nbsp;
<% end %>
<% unless params[:controller] == "validations" %>
  <% if @validations.empty? %>
	    <em>0 validations</em>
      <% elsif @validations.size == 1 %>
	    <%= link_to "1 validation", validations_path %>
	    <% else %>
	    <%= link_to "#{@validations.size} validations", validations_path %>
		</h2>
  <% end %>	
<% end %>
<% unless @attempt.image.blank? %>
  <%= image_tag @attempt.image_url.to_s %>
<% end %>
