<% if @feat.timed %>
 	<div class="row">
		<div class="span12">
	   	<h1>
				<%= link_to "#{@attempt.user.username.possessive}", 
					user_path(@attempt.user.id) %> time:</h1>
		</div>
 	</div>
 	<div class="span12">
   	<%= @attempt.score.to_hhmmss %>
 	</div>
 <% else %>
 	<div class="row">
		<div class="span12">
   	<h1><%= link_to "#{@attempt.user.username.possessive}", 
			user_path(@attempt.user.id) %> Score:</h1>
		</div>		
 	</div>
	<div class="row">
	 	<div class="span12">
	   	<h2><%= @attempt.score.to_s %></h2>
	 	</div>
	</div>
 <% end %>
 <% unless params[:controller] == "validations" %>
	<div class="row">
	 	<div class="span12">
			<% if @validations.empty? %>
				0 validations
			<% elsif @validations.size == 1 %>
				<%= link_to "1 validation", validations_path %></h2>
			<% else %>
				<%= link_to "#{@validations.size} validations", validations_path %>
			<% end %>	
	 	</div>
	</div>
 <% end %>
<% unless @attempt.image.blank? %>
	    <%= image_tag @attempt.image_url.to_s %>
<% end %>
