<% if @feat.timed %>
  <h2><strong><%= link_to "#{@attempt.user.username.possessive}", user_path(@attempt.user.id) %> time:</strong></h1>
  <div class="hr1"></div>
	<%= @attempt.score.to_hhmmss %>
  <% else %>
    <h2><strong><%= link_to "#{@attempt.user.username.possessive}", user_path(@attempt.user.id) %> score:</strong></h2>
		<div class="hr1"></div>
    <h2><%= @attempt.score.to_s %>
<% end %>
<% unless params[:controller] == "validations" %>
  <% if @validations.empty? %>
	  <h2>0 Validations
      <% elsif @validations.size == 1 %>
	    <%= link_to "1 validation", validations_path %>
	    <% else %>
	    <%= link_to "#{@validations.size} validations", validations_path %>
		</h2>
  <% end %>	
<% end %>
<% unless @attempt.image.blank? %>
<br>
<br>
  <%= image_tag @attempt.image_url.to_s %>
<% end %>
