<h1>The Feat:</h1>
<h1><%= link_to "#{@feat.name}", feat_path(@feat.id) %></h1>
<h2><em>created by</em> <%= link_to "#{@feat.user.username}", user_path(@feat.user.id) %></h2>

<br>

<h1>Feat Location:</h1>
<h2><%= @location.name %><br><%= @location.address %></h2>

<br>

<h1>Feat Description:</h1>
<h2><%= @feat.description %></h2>

<br>

<h1>Scoring:</h1>
<h2>
  <% if @feat.low_score_wins %>	
    <% if @feat.timed %>
      Shortest time wins
    <% else %>
      Low score wins
    <% end %>
  <% elsif @feat.timed %>
    Longest time wins
  <% else %>
    High score wins
  <% end %>
</h2>


