<h2><strong><%= link_to "#{@feat.name}", feat_path(@feat.id) %></strong>
created by <%= link_to "#{@feat.user.username}", user_path(@feat.user.id) %></h2>
<div class="hr1"></div>

<h2><strong>Location:</strong><br>

<%= @location.name %><br><%= @location.address %><br>
<br>

<strong>Description:</strong><br>

<%= @feat.description %><br>
<br>

<strong>Scoring:</strong><br>

  <% if @feat.low_score_wins %>	
    <% if @feat.timed %>
      Shortest time wins
    <% else %>
      Low score wins
    <% end %>
  <% elsif @feat.timed %>
    Longest time wins
  <% else %>
    High score wins
  <% end %>
</h2>


